data/terrain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="terrain"
    targetNamespace="http://tempuri.org/terrain.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/terrain.xsd"
    xmlns:mstns="http://tempuri.org/terrain.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="TerrainSet">
    <xs:complexType>
      <xs:all>
        <xs:element name="Terrain">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
